/* frontend/src/components/Gallery/Gallery.css */

body {
    font-family: Arial, Helvetica, sans-serif;
}
li {
    list-style: none;
}
.aircraft-link {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    background-color: rgba(60, 123, 226, 0.664);
    width: 350px;
    height: 100px;
    border-radius: 2px;
    padding: 6px;
    justify-content: space-between;
    margin-top: 20px;
}

.primary-text {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.aircraft-container {
    display: flex;
    /* flex-direction: row; */
    width: 100%;

}

.aircraft-image img {
    max-height: 100px;
    width: 100px;
    /* object-fit: scale-down; */
}

.aricraft-detail {
    background-color: rgba(41, 68, 160, 0.76);
    width: auto;
    padding: 6px;
    border-radius: 2px;
    margin: 20px;
    margin-left: 100px;
}

.gallery {
    display: flex;
    
}

.aircraft-detail-lists {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.booking-button {
    height: 50px;
    font-weight: bold;
    background-color: rgba(1, 251, 251, 0.815);
}